version: "3.9"

services:
  server:
    build:
      context: .
      dockerfile: Dockerfile.server
    container_name: flask_server
    networks:
      - minha_rede
    ports:
      - "8080:8080"

  client:
    build:
      context: .
      dockerfile: Dockerfile.client
    container_name: cliente_loop
    networks:
      - minha_rede
    depends_on:
      - server

networks:
  minha_rede:
    driver: bridge
